name: Deploy Laravel 

on:
  push:
    branches: [ main ]
    
jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy latest code
        run: |
          cd ~/Deploy-redis
          sudo git fetch origin
          sudo git reset --hard origin/main
          sudo docker-compose down
          sudo docker-compose up -d --build
          sudo docker exec app sh -c "cd /var/www/html && php artisan migrate" 
          sudo docker exec app sh -c "cd /var/www/html && php artisan config:cache"

