name: Deploy Laravel 

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy latest code
        run: |
          cd ~/Deploy-redis
          git fetch origin
          git reset --hard origin/main
          docker compose down
          docker compose up -d --build
          docker exec laravel_app php artisan migrate --force
          docker exec laravel_app php artisan config:cache
